* {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 1rem 2.5439rem;
}

.griditems1 {
  width: 13.3556rem;
  background: url(/logo.png) no-repeat;
}

/* .griditems2 { */
/* display: grid; */
/* grid-column: span 6; */
/* grid-template-columns: repeat(6, 1fr); */
/* } */

input[type="search"] {
  width: 21.875rem;
  padding: 1rem 1rem 1rem 3.4375rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIyNHB4IiB3aWR0aD0iMjRweCI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIyMi4zMSIgeTE9IjIzLjYyIiB4Mj0iMy43MyIgeTI9IjMuMDUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNlOTM3MjIiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmODZmMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+TWFnbmlmaWVyPC90aXRsZT48cGF0aCBmaWxsPSJ1cmwoI2xpbmVhci1ncmFkaWVudCkiIGQ9Ik0yMy4zMyAyMC4xbC00LjczLTQuNzRhMTAuMDYgMTAuMDYgMCAxIDAtMy4yMyAzLjIzbDQuNzQgNC43NGEyLjI5IDIuMjkgMCAxIDAgMy4yMi0zLjIzem0tMTcuNDgtNS44NGE1Ljk0IDUuOTQgMCAxIDEgOC40MiAwIDYgNiAwIDAgMS04LjQyIDB6Ii8+PC9zdmc+) no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
  background-size: auto;
}

/* .boxes { */
/* box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); */
/* } */

.items {
  display: grid;
  justify-content: center;
  align-content: center;
}

.items:hover {
  background-color: gray;

  /* color: white; */
  border-radius: 7px;
  text-decoration: none;
  /* margin: 10px; */
  padding: 10px;
}

/* featured starts here */

.featured {
  grid-area: featured;
  position: relative;
}

.featured-topic-div {
  position: absolute;
  width: 100%;
  margin-top: 30px;
}

.featured-h1 {
  width: 100%;
  margin-left: 250px;
  align-items: center;
}

.top-article {
  background: black;
  width: 250px;
  height: 60px;
}

.btm-article {
  background: black;
  width: 150px;
  height: 40px;
}

.serious {
  margin-right: 60px;
  align-items: center;
}

.left-red {
  width: 60px;
  height: 60px;
  background: black;
  margin-right: 20px;
  transform: rotate(25deg);
}

.left-red:hover {
  transform: rotate(0deg);
}

.right-red {
  width: 150px;
  height: 40px;
  background: black;
}

.featured-top-right {
  background-color: #16c753;
  width: 50%;
  height: 650px;
  padding: 198px 64px 0px 64px;
}

.featured-top-left {
  background-color: green;
  width: 50%;
  height: 650px;
  padding: 198px 64px 0px 64px;
}

.featured-btm-right {
  background-color: blue;
  /* width: 503px; */
  width: 50%;
  height: 501px;
  padding: 59px 64px 0px 64px;
}

.featured-btm-left {
  background-color: rgb(63, 54, 189);
  /* width: 503px; */
  width: 50%;
  height: 501px;
  padding: 59px 64px 0px 64px;
}

.feature-img {
  height: 86px;
  width: 96px;
  background: black;
  transform: rotate(-25deg)
}

.feature-img:hover {
  transform: rotate(0deg)
}

.feature-name {
  height: 35px;
  width: 50%;
  background: black;
  margin: 10px 0 0 15px;
}

.feature-para {
  margin: 10px 0;
  background: black;
  height: 30px;
}

.para1 {
  width: 75%;
  margin-top: 55px;
}

.para2 {
  width: 100%;
}

.para3 {
  width: 50%;
}

.feature-span {
  margin: 10px 0;
  background: black;
  height: 50px;
  width: 20px;
}

.feature-tag {
  margin-top: 30px;
}

.tag {
  width: 80px;
  height: 30px;
  background: black;
  margin-right: 20px;
}




.posts-container {
  display: flex;
  /* margin: 0 1rem; */
  background: #ddd;
  margin: 2rem auto;
  /* height: 179.625rem; */
  padding: 0 1rem;
  width: 85.625rem;
  justify-content: center;
}

.box {
  width: 27.625rem;
  margin: 0 5px;
  background: darkgoldenrod;
  padding: 30px 40px 0;
  height: 22.3125rem;
  transition: 1s;
}

.box:hover {
  /* padding: 0; */
  background: crimson;
  transform: scale(1.1);
}

.middle-comntainer {
  width: 85.625rem;
  display: flex;
  height: 743.08px;
}

.middle-img {
  width: 30.9375rem;
  border: 1px solid gold;
  padding: 30px;
}

.bottompost-container {
  display: flex;
  background: #ddd;
  margin: 2rem auto;
  /* height: 179.625rem; */
  padding: 0 1rem;
  width: 85.625rem;
  justify-content: center;
}

.news {
  width: 85.625rem;
  border: 2px solid cornflowerblue;
  padding: 30px;
  margin: 0 auto;
}

/* .news1 { */
/* width: 245px; */
/* margin: 0 auto; */
/* } */

.time {
  font: 16px/32px;
  border: 2px solid orange;
  height: 25px;
  width: 100px;
  margin-bottom: 15px;
}

.title {
  font: 25px/50px;
  border: 2px dotted green;
  height: 35px;
  width: 95%;
  margin-bottom: 15px;
}

.author {
  font: 16px/32px;
  border: 2px solid orange;
  height: 25px;
  width: 150px;
  /* margin-bottom: 15px; */
}

.content {
  border: 2px solid orange;
  height: 65px;
  width: 100%;
  margin-top: 25px;
}

.bottom {
  margin-top: 40px;
}

.middle-picture {
  width: 245px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid green;
}

.members {
  border: 2px solid green;
  height: 55px;
  margin-top: 25px;
}

.middle {
  border: 2px solid blue;
  border-radius: 15px;
  cursor: pointer;
  width: 216px;
  height: 64px;
  margin: 30px 85px;
  padding: 15px 19px;
}

.signin {
  width: 262px;
  height: 31px;
  border: 2px solid green;
  margin: 0 auto;
}

.main-title {
  width: 433px;
  height: 80px;
  border: 2px solid green;
  margin: 0 auto;
}

.middle-content {
  width: 442px;
  height: 78px;
  border: 2px solid green;
  margin: 0 auto;
}

.large {
  border: 2px solid blue;
  border-radius: 15px;
  cursor: pointer;
  width: 310px;
  height: 55px;
  margin: 25px 485px;
  /* padding: 15px 19px; */
}